<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MySQL Dynamic Synchronizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="${@urlService.getUrl('/resources/css/font-awesome-4.7.0/css/font-awesome.min.css')}" rel="stylesheet">
    <link rel="stylesheet" th:href="${@urlService.getUrl('/resources/css/bootstrap.min.css')}">
    <link rel="stylesheet" th:href="${@urlService.getUrl('/resources/css/style.css')}">
    <script th:src="${@urlService.getUrl('/resources/js/jquery-3.3.1.min.js')}"></script>
    <script th:src="${@urlService.getUrl('/resources/js/bootstrap.min.js')}"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="${@urlService.getBaseUrl()}">MySQL Dynamic Synchronizer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="${@urlService.getBaseUrl()}">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="taskDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="${@urlService.getUrl('/task/list')}">List</a>
                        <a class="dropdown-item" th:href="${@urlService.getUrl('/task/create')}">Create task</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="serverDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MySQL Servers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="${@urlService.getUrl('/mysql-server/list')}">List</a>
                        <a class="dropdown-item" th:href="${@urlService.getUrl('/mysql-server/add')}">Add Server</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="toolDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="${@urlService.getUrl('/tool/structure-sync')}">Table Structure Sync</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
</div>
<div th:with="errorMessages = ${@FEMessageService.getErrorMessages()}">
    <div class="modal" tabindex="-1" id="errorMessageModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error Messages</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-error-message">
                    <p th:each="errorMessage : ${errorMessages}"
                       th:text="${errorMessage}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var DOMAIN = /*[[${@urlService.getBaseUrl()}]]*/ '';
    $(document).ready(function () {
        if ($('#errorMessageModal .modal-body').children().length > 0) {
            $("#errorMessageModal").modal('show');
        }
    });

    function showError(message) {
        $('.modal-error-message').html($('<li>', {html: message}));
        $("#errorMessageModal").modal('show');
    }
</script>
<script th:src="${@urlService.getUrl('/resources/js/react-app.min.js')}"></script>
</body>
</html>