.dropdown.fullWidth {
    width: 100%;
}

.dropdown.fullWidth .dropdown-toggle {
    width: 100%;
}

.dropdown.fullWidth .dropdown-toggle:after {
    right: 1.5em;
    top: .95em;
    position: absolute;
}

.dropdown.fullWidth .dropdown-menu {
    width: 100%;
}

.vertial-center {
    margin: auto 0;
}

.pointer {
    cursor: pointer;
}