<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MySQL Dynamic Synchronizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="${@urlService.getUrl('/resources/css/font-awesome-4.7.0/css/font-awesome.min.css')}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="${@urlService.getUrl('/resources/css/bootstrap.min.css')}">
    <link rel="stylesheet" th:href="${@urlService.getUrl('/resources/css/style.css')}">
    <script th:src="${@urlService.getUrl('/resources/js/jquery-3.3.1.min.js')}"></script>
    <script th:src="${@urlService.getUrl('/resources/js/bootstrap.min.js')}"></script>
</head>
<body>
<div id="reactWrapper"></div>
<script type="text/javascript">
    var DOMAIN = /*[[${@urlService.getBaseUrl()}]]*/ '';
</script>
<script th:src="${@urlService.getUrl('/resources/js/react-app.min.js')}"></script>
</body>
</html>